{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.game_details'|trans({'%id%': game.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.game_details'|trans({'%id%': game.id|default('')}) }}</h1>
    {% if game is defined and game|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ game.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  game.title }}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{  game.description }}</dd>
            <dt>{{ 'label.genre'|trans }}</dt>
            <dd>{{  game.genre.name }}</dd>
            <dt>{{ 'label.studio'|trans }}</dt>
            <dd>{{  game.studio.name }}</dd>
            <dt>{{ 'label.platforms'|trans }}</dt>
            {% if game.platforms is defined and game.platforms|length %}
                <ul>
                    {% for platform in game.platforms %}
                    <li>
                        {{ platform.name }}
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                -
            {% endif %}
            <dt>{{ 'label.pictures'|trans }}</dt>
            {% if game.pictures is defined and game.pictures|length %}
                <ul>
                    {% for picture in game.pictures %}
                        <li>
                            <img src="https://picsum.photos/seed/{{ picture.filename }}/200/200" alt="Image depicting XYZ">
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                -
            {% endif %}
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{  game.author }}</dd>
            <dt>{{ 'label.createdAt'|trans }}</dt>
            <dd>{{ game.createdAt|date('Y/m/d') }}</dd>
        </dl>
        <p>
            <a href="{{ url('game_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}