{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.genre_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.genre_list'|trans }}</h1>
    {% if genres is defined and genres|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.description'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for genre in genres %}
                <tr>
                    <td>{{ genre.id }}</td>
                    <td>{{ genre.name }}</td>
                    <td>{{ genre.description }}</td>
                    <td>
                        <a href="{{ url('genre_show', {id: genre.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}