{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.studio_details'|trans({'%id%': studio.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.studio_details'|trans({'%id%': studio.id|default('')}) }}</h1>
    {% if studio is defined and studio|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ studio.id }}</dd>
            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{  studio.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('studio_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}