{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.change_password'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.change_password'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.oldPassword) }}
    {{ form_row(form.newPassword) }}

    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'change_button'|trans }}
    </button>

    {{ form_end(form) }}
    <p>
        <a href="{{ url('user_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    </p>
{% endblock %}